@tailwind base;
@tailwind components;
@tailwind utilities;




    body {
        margin: 0;
        padding: 0;
        position: relative;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../public/images/backgroundMovies.jpg');
        background-size: cover;
        background-position:top;
        filter: blur(3px); /* Blurs the background image */
        z-index: -1; /* Ensures it stays behind the content */
    }


    .container {
        margin: 100px 0 0 200px;
        width: 70%;
        height: 450px;
        display: flex;
        justify-content:center;
        gap: 10px;
    }
    .container img {
        width: 20%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.6);
        transition: all ease-in-out 0.5s;
    }

    .container img:hover {
        width: 50%;
    }

    header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 20px auto;
}

.post {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 10rgb(0, 0, 0)
}

.save-form-button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.save-form-button {
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
}
.cancel-form-button {
    background-color: #fbc2c2;
    border-radius: 100px;
    box-shadow: rgba(187, 44, 44, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.15) 0 1px 2px,rgba(187, 44, 44, 0.15) 0 2px 4px,rgba(187, 44, 44, 0.15) 0 4px 8px,rgba(187, 44, 44, 0.15) 0 8px 16px,rgba(187, 44, 44, 0.15) 0 16px 32px;
    color: red;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.save-form-button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
.cancel-form-button:hover {
    box-shadow: rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.25) 0 1px 2px,rgba(187, 44, 44, 0.25) 0 2px 4px,rgba(187, 44, 44, 0.25) 0 4px 8px,rgba(187, 44, 44, 0.25) 0 8px 16px,rgba(187, 44, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.watchlist-button {
    background-color: #fbf5c2;
    border-radius: 100px;
    box-shadow: rgba(187, 185, 44, 0.2) 0 -25px 18px -14px inset,rgba(187, 185, 44, 0.15) 0 1px 2px,rgba(187, 165, 44, 0.15) 0 2px 4px,rgba(185, 187, 44, 0.15) 0 4px 8px,rgba(187, 161, 44, 0.15) 0 8px 16px,rgba(187, 177, 44, 0.15) 0 16px 32px;
    color: rgb(107, 107, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 21px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.watchlist-button:hover {
    box-shadow: rgba(187, 185, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 173, 44, 0.25) 0 1px 2px,rgba(187, 177, 44, 0.25) 0 2px 4px,rgba(177, 187, 44, 0.25) 0 4px 8px,rgba(185, 187, 44, 0.25) 0 8px 16px,rgba(187, 177, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.post-image img {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 5px;

}

.post-content {
    flex-grow: 1;
}

.post-content h2 {
    margin-bottom: 10px;
    color: #333;
}

.post-content p {
    color: #666;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.movie-scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.movie-list {
    display: flex;
    padding: 0;
    margin: 20px 0 20px 0;
    list-style: none;
    flex-wrap: wrap;
}

#movie-list {
    display: inline-block;
    width: calc(25% - 20px); /* Adjusts to show 4 items in a row, considering gap */
    height: 350px;
    background-color: #fff;
    padding: 1px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    flex-shrink: 0;
    margin:10px
}

#movie-list:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

#movie-list img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;

}

#movie-list strong {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#movie-list p {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0;
}

/* Media query to adjust layout on smaller screens */
@media (max-width: 1024px) {
    #movie-list {
        width: calc(33.33% - 20px); /* 3 items per row for medium screens */
    }
}

@media (max-width: 768px) {
    #movie-list {
        width: calc(50% - 20px); /* 2 items per row for smaller screens */
    }
}

/* Stack items vertically */
@media (max-width: 480px) {
    #movie-list {
        width: 100%; /* 1 item per row for very small screens */
        height: auto; /* Adjusts height based on content */
        margin-bottom: 20px;
    }
}

.movie-header {
    text-align: center; /* Centers the text horizontally */
    margin: 0 auto; /* Centers the element if it has a width */
    display: block; /* Ensures the element behaves as a block-level element */
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #43a0cf;
    border-radius: 100px;
    box-shadow: rgba(44, 165, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 182, 187, 0.15) 0 1px 2px,rgba(44, 187, 175, 0.15) 0 2px 4px,rgba(44, 187, 175, 0.15) 0 4px 8px,rgba(44, 182, 187, 0.15) 0 8px 16px,rgba(44, 187, 180, 0.15) 0 16px 32px;

    /* UNSELECTABLE FEATURE */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:white;
    border: 3px solid #43a0cf;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    width: 300px;
}

#rating {
    border: 1px solid #43a0cf;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.overlayMovies {
    display: none; /* Domyślnie ukryte */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Półprzezroczyste tło */
    justify-content: center;
    align-items: center;
}



 /* Styl dla tła formularza */
 .overlayForum {
    display: none; /* Domyślnie ukryte */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Półprzezroczyste tło */
    justify-content: center;
    align-items: center;
}

/* Styl formularza */
.form-containerForum {
    background-color: #fff;
    padding: 20px;
    width: 500px;
    height: auto;
    border-radius: 8px;
    border: 2px solid;
    box-shadow: 0 4px 8px #005b87;
    text-align: center;
}

/* Styl dla przycisku i formularza */

.buttonForum, input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}


/* Styl dla przycisku */
#show-form-buttonForum {
    margin-top: 20px;
    border: 2px solid;
}
#contentForum {
    border: 2px solid #005b87;
}
#chooseMovieOption {
    text-align: center;
}
#movie_id {
    box-shadow: 0 2px 4px #005b87;
}

#s {
        /* UNSELECTABLE FEATURE */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: currentColor !important; /* Ensures text matches the current color */
    caret-color: currentColor !important; /* Matches the caret color */
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: currentColor !important;
    caret-color: currentColor !important;
}

input[type="password"] {
    -webkit-text-security: disc; /* Ensures password text is shown as dots */
}

/* General Styles for the Input Group */
.input-group {
    position: relative;
    margin-bottom: 1.5rem; /* space between form elements */
    font-weight: bold;
    display: flex; /* Make input group a flex container */
    flex-direction: column;
    justify-content: center; /* Center align content */
    width: 100%; /* Ensure full width */
}

/* Input Field Styling */
.input-field {
    background-color: transparent;
    height: 2rem; /* input height */
    width: 18rem; /* input width */
    padding: 0.5rem 1rem; /* padding inside the input */
    border-radius: 0.5rem; /* rounded corners */
    color: #0369a1; /* text color */
    border: 2px solid #0369a1; /* border color */
    font-size: 1rem; /* font size */
    outline: none;
    transition: all 0.3s ease-in-out; /* smooth transition for focus effect */
}

/* Focused Input Field Styling */
.input-field:focus {
    border-color: #0369a1; /* blue border when focused */
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3); /* blue shadow when focused */
}

/* Label Styling */
.input-label {
    position: absolute;
    top: 0.25rem; /* position it at the top of the input */
    left: 1rem; /* position it left inside the input */
    font-size: 0.875rem; /* smaller label font size */
    color: #0369a1; /* text color */
    background-color: transparent;
    padding: 0 0.25rem;
    pointer-events: none; /* disable interactions */
    transition: all 0.3s ease-in-out; /* smooth transition for label */
}

/* When the input field is focused or filled */
.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
    top: -1rem; /* move label up */
    font-size: 0.75rem; /* smaller font for label */
    color: #0369a1; /* change label color */
}

/* Error Message Styling */
.error-message {
    display: block;
    font-size: 0.875rem;
    color: #be185d; /* red color for error messages */ /* zmieniłem kolor bo ładniej się odcina niż tamten (przynajmniej u mnie na ekranie) */
    margin-top: 0.25rem;
    margin-left: 0.25rem;
}

/* Make the form elements responsive */
.form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align form elements */
    padding: 30px 40px;
    background-size:cover;
    background-position: center;
    border: 2px solid rbga(255,255,255,.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

/* Optionally add spacing between the input fields */
.form input,
.form .input-group {
    margin-bottom: 1rem;
}

/* Center the form content */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full viewport height */
}

#form-header-text{
    font-size: 2vw;
    padding: 15px;
    font-weight: bold;
    color:#005b87;
}
